@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* 1. テーマカラーを CSS 変数として定義 */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  .dark {
    --background: #1e1e1e;
    --foreground: #f0f0f0;
  }
}

/* 2. 全体の body にその変数を反映 */
@layer base {
  html,
  body {
    @apply antialiased;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
  }
}
